* {
  box-sizing: border-box;
}


body {
  background-color: #1b6aa5;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.game {
  width: 320px;
  margin: auto;
  position: relative;
  text-align: center;
}

.game-message {
  font-size: 26px;
  display: inline-block;
  text-align: center;
  padding: 30px 0;
}

.winner {
  font-weight: bold;
}

.game-board {
  display: inline-block;
  margin: auto;
  border: 4px solid #ffffff;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #1b6aa5;
  border: 4px solid #ffffff;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  color: #ffffff;
}

.square:focus {
  outline: none;
}

.winning-move {
  background: #ff00ff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.menu-button-row {

}

.menu-button-row button {
  background-color: #1b6aa5;
  font-size: 50px;
  color: #ffffff;
  border: none;
  padding: 15px;
}

.game-info {
  min-height: 30px;
}
